@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Black+Ops+One&family=Russo+One&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 140, 0, 1);
}

.store-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.brand-name {
  font-size: clamp(3rem, 8vw, 8.5rem);
  letter-spacing: -0.2ch;
}

.store-name {
  font-size: clamp(4rem, 12vw, 12rem);
  letter-spacing: -0.2ch;
}

/* Font Options */

/*  Black Ops One - Military/Industrial feel */
/* .brand-name, .store-name {
    font-family: 'Black Ops One', cursive;
} */

.brand-name,
.store-name {
  font-family: "Russo One", sans-serif;
  paint-order: stroke fill;
  color: rgba(255, 0, 255, 1);
  -webkit-text-stroke: clamp(2px, 0.5vw, 14px) rgba(255, 255, 0, 1);
}

.wrap {
  font-family: "Russo One", sans-serif;
  font-size: clamp(3rem, 8vw, 8.5rem);
  /* letter-spacing: -0.8ch; */
  paint-order: stroke fill;
  /* display: inline-block; */
  letter-spacing: -0.2ch;
  -webkit-text-stroke: 5px rgba(255, 255, 0, 1);
  /* text-shadow: 10px 10px 0 black, -10px -10px 0 black, 10px -10px 0 black, -10px 10px 0 black; */
}

/* Alternative paint orders */
/* paint-order: stroke fill markers; */
/* or */
/* paint-order: stroke markers fill; */
